<html>

<head>
    <title>Transcriber</title>
    <script src="js/reconnecting-websocket.min.js"></script>
    <script src="js/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="css/master.css">
</head>

<body>
    <div id="app">
        <div v-if="avatar" id="avatar-background" :style="'backgroundImage: url(\'' + avatar + '\');'"></div>
        <!-- Check if speech recognition is supported -->

        <div v-if="!hasSpeechRec">
            <h2>Your browser does not support speech recognition</h2>
            <p>Chrome currently supports the SpeechRecognition API</p>
        </div>

        <div id="top-part">
            <div>
                <label class="label">Toggle microphone</label>
                <div @click="listening = !listening" :class="['mic', listening?'on':'off']"></div>
            </div>
            <div v-if="user" style="text-align: center">
                <label class="label">{{user.username}}</label>
                <!-- <img :src="avatar" class="avatar"> -->
            </div>
        </div>

        <!-- Discord information selection -->
        <div class='form'>
            <!-- ID Fields -->
            <div id="id-fields">
                <div class="group">
                    <label class="label">Text channel{{channel ? " ( " + channel.name + " ) ": ""}}</label>
                    <input :class="{valid: channel}" id="channelID" type="text" v-model="channelID" placeholder="Enter a valid text channel ID">
                </div>
                <!-- <div class="group">
                    <label class="label">Guild{{guild ? " ( " + guild.name + " ) ": ""}}</label>
                    <input :class="{valid: guild}" id="channelID" type="text" v-model="guildID" placeholder="Enter a valid guild ID">
                </div> -->
                <div class="group">
                    <label class="label">Voice channel{{voiceChannel ? " ( " + voiceChannel.name + " ) ": ""}}</label>
                    <input :class="{valid: voiceChannel}" id="channelID" type="text" v-model="voiceChannelID" placeholder="Enter a valid voice channel ID">
                </div>
            </div>
            <label class="label">Options</label>
            <div id="modifiers" class="group">
                <label class="checkbox">Text chat
                    <input v-model="useText" type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox">Text to speech
                    <input v-model="TTS" type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox">Espeak voice synthesis
                    <input v-model="useVoice" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>

            <div id="voice-options-labels">
                <label class="label">Voice synthesis options (requires espeak)</label>
                <label @click="resetVoiceOptions" id="voice-options-reset" class="label">reset</label>
            </div>
            <div id="voice-options">
                <div class="group">
                    <label class="label">Voice</label>
                    <input type="text" v-model="VoiceOptions.Voice">
                </div>
                <div class="group">
                    <label class="label">Pitch</label>
                    <input type="text" v-model="VoiceOptions.Pitch">
                </div>
                <div class="group">
                    <label class="label">Speed</label>
                    <input type="text" v-model="VoiceOptions.Speed">
                </div>
                <div class="group">
                    <label class="label">Amplitude</label>
                    <input type="text" v-model="VoiceOptions.Amplitude">
                </div>
            </div>

            <div class=group>
                <label class="label">Manual input (press enter to send)</label>
                <input autofocus type="text" v-model="textinput" @keydown.enter="send(textinput); textinput=''">
            </div>
        </div>



        <label class="label">Transcript</label>
        <div class='results'>
            <template v-for="(r, i) in results.slice().reverse()">
                <p :style="'opacity: ' + (1-((i/10)*0.9+0.1))">{{r}}</p>
            </template>
        </div>
    </div>

    <!-- Import after body loads so the template renders -->
    <script src="js/index.js"></script>
</body>

</html>